/* Positional Layout */

body {
  margin: 0;
}

body {
  background-color: #E8EFEF;
  font-family: 'Veranda', sans-serif;
  font-size: 16px;
}

h1 {
  background-color: #697983;
  color: #fff;
  margin: 3em -15px 1em -15px;
  padding: 7px 15px 5px 15px;
  font-size: 140%;
  letter-spacing:1px;
}

h2 {
  background-color: #697983;
  color: #fff;
  margin: 3em -15px 1em -15px;
  padding: 7px 15px 5px 15px;
  font-size: 120%;
  letter-spacing:1px;
}

pre {
  background-color: #E8EFEF;
  margin: 1em 2em;
  padding: 0.5em;
  border: 1px dotted #697983;
  border-width: 1px 0;
}
